/* GLOBAL STYLES */

* { box-sizing: inherit; }

body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: $mainText;
	letter-spacing: 2px;
	background: $mainBg;
}

a {
	text-decoration: none;
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6 { font-weight: 500;  }