.footer {

	margin-top: 30px;

	&__footer-rule {
		border-top: 2px solid black;
		opacity: 0.5;
	}

	&__footer-links {
		margin-top: 20px;
		font-weight: 400;
	}

	&__site-links {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		& li {
			display: inline;
			padding: 5px;
		}

		& li + li {
			margin-left: 5em;
		}

	}

	&--uppercase { text-transform: uppercase; }

	&--smaller-text { font-size: smaller; }

}