.main-content {

	height: auto;

	&__background {
		background: $mainContent;
		box-shadow: 3px 3px 10px 0px black;
		height: 100%;
		padding: 20px;
	}

	&__header {
		font-size: 1.3em;

		@mixin atMedium {
			font-size: 1.5em;
		}
	}

	&__text {
		line-height: 2;
	}

}